.imageBox {
  padding: 10px;
}

.content .imgBox svg {
  max-width: 650px;
}

.content .textBox p {
  margin: 10px 0;
}

.form-container {
  margin-top: 15px;
  height: 300px;
}

/* .form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
} */

.form-container form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 250px;
  justify-content: space-evenly;
}

.form-container form .parameter {
  margin-top: 10px;
}

.form-container label {
  font-style: italic;
}

.form-container form input,
.form-container form textarea {
  padding: 08px;
}

.form-container form button {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 20px;
  background: #ae5517;
  color: #fff;
  border: 1px solid #111;
  width: 150px;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: scale(1);
  transition: 2s ease-in-out;
}

.form-container form button:hover {
  transform: scale(1.1);
}

/* .form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.form-container form label input,
.form-container form label textarea,
.form-container form label select {
  display: block;
}

@media (max-width: 991px) {
  .content .imgBox svg {
    max-width: 300px;
    height: 400px;
    padding-top: 130px;
  }

  .content .imgBox {
    margin-bottom: 0;
  }

  .form-container {
    padding-top: 100px;
  }

  .form-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .content .textBox {
    position: relative;
    max-width: 100%;
  }
}

/* ANIMATIONS  */

#womanHand {
  animation: handmoveGirl 5s infinite linear;
}

@keyframes handmoveGirl {
  from {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(3deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

#manHand {
  animation: handmoveMan 5s infinite linear;
}

@keyframes handmoveMan {
  from {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(3%);
  }
  to {
    transform: translateX(0%);
  }
}

#rightWheel,
#leftWheel {
  animation: wheel 200s infinite ease-in-out linear alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#bikeMan {
  animation: bike 1.5s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes bike {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(20deg);
  }
}

#hat {
  animation: hat 1.5s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hat {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }

  to {
    transform: translateY(25%) rotateZ(10deg);
  }
}
